
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(172, 224, 233);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px;
}


header h1 {
    color: black;
    margin-bottom: 25px;
}


form {
    background-color: white;
    padding: 30px;
    width: 425px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


label,
p {
    font-weight: bold;
    color: #1f1d1d;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}


input[type="radio"] {
    margin-right: 5px;
    margin-left: 10px;
}


input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
}

/* Hover effect */
input[type="submit"]:hover {
    background-color: #0056b3;
}


input:focus,
select:focus {
    outline: none;
    border-color: #007BFF;
}